# Application

NODE_ENV=development
PORT=4000
APP_NAME=WareTrack
APP_VERSION=1.0.0

# Database

DATABASE_URL="postgresql://neondb_owner:npg_mRUxYlHz56VD@ep-ancient-grass-aodc1cyq-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT

JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d

# Cloudinary

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Swagger

SWAGGER_TITLE=WareTrack API
SWAGGER_DESCRIPTION=WareTrack REST API
SWAGGER_VERSION=1.0.0

# CORS

FRONTEND_URL=http://localhost:3000