DATABASE_URL=postgresql://postgres:UhDJpzXjbQ9XOt5J@db.caqdfytblylbljzpckml.supabase.co:5432/postgres

JWT_SECRET=supersecret

APP_NAME=namaaplikasi-api
APP_TYPE=

# APP_TYPE => COFFEE, RESTAURANT, TRADE